body {
    font-family: "Poppins", sans-serif;
    background-image: url("imagenes/imag2.jpg");
    background-color: #e8e8e8;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/*Encabezado*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f77f00;
    padding: 10px 20px;
    color: white;
}

.header-logo {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.icons img {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}


.login2-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

